apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  labels:
    app: nginx-app
    type: frontend
spec:
  template:
    metadata:
      name: nginx-pod
      labels:
        app: nginx-app 
        type: frontend        
    spec:
      containers:
        - name: nginx-container
          image: nginx:1.19.4
  selector:
    matchLabels:
      type: frontend      
  replicas: 2
